@model PagosApp.Models.User2
@using System.Configuration
@using System.Data.OleDb;
@{
    ViewBag.Title = "Agregar Usuario";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<script src="~/Content/assets/js/core/jquery.validate.js" type="text/javascript"></script>
<script src="~/Content/assets/js/core/jquery.validate.unobtrusive.js" type="text/javascript"></script>

<h2>AddUser</h2>


<div class="panel panel-flat">
    <div class="panel-body">


        @using (Html.BeginForm("Createuser", "User", FormMethod.Post))
            {


            @Html.ValidationSummary(true)
            <fieldset class="content-group">
                <p>
                    <span class="label border-left-danger label-striped text-grey">@ViewData["Error"]</span>
                </p>

                <div class="form-group">
                 @Html.LabelFor(model => model.Usuario)
                    <div class="col-lg-4">
                        @Html.EditorFor(model => model.Usuario, new { placeholder = "Usuario" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Usuario)
                    
                    </div>


                    <div>
                        @Html.LabelFor(model => model.Nombre)
                        @Html.EditorFor(model => model.Nombre, new { placeholder = "Nombre" })
                        @Html.ValidationMessageFor(model => model.Nombre)
                    </div>

                    <div>
                        @Html.Label("Password: ")
                        @Html.PasswordFor(model => model.Password, new { placeholder = "Password" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>

                    <div>
                        @Html.Label("Reescribir Password: ")
                        @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "Reescribir Password" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>

                    <div>
                        @Html.Label("Rol:")
                        @Html.DropDownListFor(model => model.rol, ViewData["Rol"] as List<SelectListItem>, Model.id_rol)
                    </div>

</fieldset>

                }

</div>
</div>
