@model PagosApp.Models.User
@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<script src="~/Content/assets/js/core/jquery.validate.js" type="text/javascript"></script>
<script src="~/Content/assets/js/core/jquery.validate.unobtrusive.js" type="text/javascript"></script>

<h2>Edit User</h2>


    @Model.Usuario


    @using (Html.BeginForm("Updateuser","User",FormMethod.Post))
    {



            @Html.ValidationSummary(true)


            <p>
                <span class="label border-left-danger label-striped text-grey">@ViewData["Error"]</span>
            </p>





            <div>
               @Html.LabelFor(model => model.Nombre)
                @Html.EditorFor(model => model.Nombre, new { placeholder = "Nombre", @Value = Model.Nombre})
                @Html.ValidationMessageFor(model => model.Nombre)
            </div>

            <div>
                @Html.Label("Password: ")
                @Html.PasswordFor(model => model.Password, new { placeholder = "Password"})
                @Html.ValidationMessageFor(model => model.Password)
            </div>

            <div>
               @Html.Label("Reescribir Password: ")
                @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "Reescribir Password" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>

            <div>
                @Html.Label("Activo:")
                @Html.CheckBoxFor(model => model.Estado,new { @checked = Model.Estado})
            </div>

            <div>
                @Html.Label("Rol:")
                @Html.DropDownListFor(model => model.rol, ViewData["Rol"] as List<SelectListItem>,Model.id_rol)
            </div>




            <button type="submit" >Actualizar </button>


    }

